<div class="container">

    <main class="content">
        <header>
            <button class="add-btn">+ Add New Food</button>
        </header>
        
        <section class="menu">
            <h2>Appetizers</h2>
            <h3>Cocktails</h3>
            <div class="items">
                <div class="item">
                    <img src="/images/el-diablo.jpg" alt="El Diablo">
                    <p class="name red">El Diablo</p>
                </div>
                <div class="item">
                    <img src="/images/cosmopolitan.jpg" alt="Cosmopolitan">
                    <p class="name green">Cosmopolitan</p>
                </div>
            </div>
            
            <h3>Hors d' oeuvres</h3>
            <div class="items">
                <div class="item">
                    <img src="/images/item1.jpg" alt="Food Item">
                    <p class="name">Food Name</p>
                </div>
                <div class="item">
                    <img src="/images/item2.jpg" alt="Food Item">
                    <p class="name">Food Name</p>
                </div>
            </div>
        </section>
    </main>
</div>