

    <div class="container mt-4">
        <h2>Admin Dashboard</h2>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Users</h5>
                        <p class="card-text" id="totalUsers"><%=totalActiveUsers%></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Orders</h5>
                        <p class="card-text" id="totalOrders"><%=totalActiveOrders%></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total Revenue</h5>
                        <p class="card-text" id="totalRevenue"><%=totalRevenue%></p>
                    </div>
                </div>
            </div>
        </div>
<h1>Genrate Sales Report</h1>
<form method="get" action="/admin/salesReport">
    <select name="filterType" onchange="toggleDateInputs(this.value)">
      <option value="daily">Daily</option>
      <option value="weekly">Weekly</option>
      <option value="monthly">Monthly</option>
      <option value="custom">Custom Range</option>
    </select>
  
    <div id="custom-range" >
      <input type="date" name="startDate" required />
      <input type="date" name="endDate" required />
    </div>
  
    <button type="submit">Generate Report</button>
  </form>
  
  <script>
    function toggleDateInputs(val) {
      document.getElementById('custom-range').style.display =
        val === 'custom' ? 'block' : 'none';
    }
  </script>
  
       
    </div>
    <script>
        function toggleDateInputs(val) {
          const range = document.getElementById('custom-range');
          range.style.display = val === 'custom' ? 'block' : 'none';
        }
      
        document.addEventListener('DOMContentLoaded', function () {
          const filter = document.querySelector("select[name='filterType']");
          toggleDateInputs(filter.value);
        });
      </script>
          