
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/user-assets/imgs/theme/Wlogo.jpeg"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Your Custom CSS -->
    <!-- <link rel="stylesheet" href="/user-assets/css/main.css"> -->
  </head>
<body>
  
    <div  class ="layout">

        
        <%- body %>  <!-- Content from other pages will be injected here -->


    </div>
  
</body>
</html>