<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css"> -->


</head>
<body>
    <%-include('../partials/user/header')%>
    <div  class ="layout">

        
        <%- body %>  <!-- Content from other pages will be injected here -->


    </div>
    <%- include('../partials/user/footer') %>
    <!-- <script src="/js/bootstrap.bundle.min.js"></script> -->

</body>
</html>