
   <!-- <link rel="stylesheet" href="/style/user/login.css"> -->

       <div class="container">
           <h2>Sign In</h2>
   
         
   
           <form action="/login" method="POST">
               <label>Email address</label>
               <input type="email" name="email" required>
               
               <label>Password</label>
               <input type="password" name="password" required>
   
               <button type="submit">Log in</button>
           </form>
   
           <p>New user? <a href="/register">Sign up</a></p>
   
           <a href="/auth/google">
               <button>Login with Google</button>
           </a>
       </div>
 