<link rel="stylesheet" href="/css/login.css">

<div class="body">
<div class="outer-container p-5 ">
    <h1>Login</h1>

    <form action="/login" method="post" id="form">
        <%if(msg){%>
            <p style="color: red;"><%=msg%></p>
            
        <%}%>
        <div>           
        <label for="email">Email</label>
        <input type="text" name="email" onkeyup="validateEmail()" id="email">
        <div class="text-danger p-0 ms-5" id="emailError">username is required</div>
    </div>
    <div>
        <label for="">Password</label>
        <input type="password" name="password" onkeyup="validatePassword()" id="password">
        <div class="text-danger p-0 ms-5" id="passwordError">password is required</div>
    </div>
    <div>
        <input type="submit" value="Log In" class="login">
        <div class="text-danger p-0 ms-5" id="formError">please fill all fields</div>

    </div>
    <span>Dont have an account? <a href="/signup" style="color: rgb(21, 11, 203);">signUp</a></span><br>
    <a style="background-color: rgb(101, 203, 11);" href="/auth/google" class="btn btn-primary">
        <i class="fab fa-google"></i> Sign in with Google
      </a><br>
    <span> <a href="/forget-password"  style="color: rgb(33, 22, 154);">Forgot password?</a></span>

    </form>
</div>
</div>

<script src="/js/login.js"></script>