<link rel="stylesheet" href="/css/signup.css">

<div class="body">
    <div class="outer-container p-3">
    <h1 class="text-center">SignUp</h1>

    <form action="/signup" method="post" id="form">
     
            <%if(msg){%>
                <p style="color: red;"><%=msg%></p>
                
            <%}%>
            <div class="input-div">
        <label for="FirstName">Firstname</label>
        <input type="text" name="firstname" id="Firstname" onkeyup="validateFirstname()">
        </div>
          <div class="text-danger p-0 " id="FirstnameError">FirstName is required</div>
      
        <div class="input-div">
        <label for="LastName">Lastname</label>
        <input type="text" name="lastname" id="Lastname" onkeyup="validateLastname()">
        </div>
          <div class="text-danger p-0 " id="LastnameError">LastName is required</div>
      
        <div class="input-div">
        <label for="email">Email</label>
        <input type="text" class="ms-4" name="email" id="email" onkeyup="validateEmail()">
        </div>
          <div class="text-danger p-0 " id="emailError">email is required</div>
      
        <div class="input-div">
        <label for="phoneno">Phone Number</label>
        <input type="text" name="phoneno" id="phoneno" onkeyup="validatePhoneno()">
        </div>
          <div class="text-danger p-0 " id="phonenoError">phone number is required</div>
      
        <div class="input-div">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" onkeyup="validatePassword()">
        </div>
          <div class="text-danger p-0 " id="passwordError">password is required</div>
      
        <div class="input-div">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" name="confirmpassword" id="confirmpassword" onkeyup="validateconfirmPassword()">
        </div>
          <div class="text-danger p-0 " id="confirmpasswordError">password donot match</div>
      
        <div>
        <input type="submit" value="SignUP" class="signup">
        <div class="text-danger p-0 " id="formError">above field should be filled</div>

        </div>
        <span>already have an account ? <a href="/login">Login</a></span>
    </form>
</div>
</div>

<script src="/js/signup.js"></script>