<link rel="stylesheet" href="/css/signUp.css">

<div class="body ">
    <div class="outer-container p-3 ">
    <h1 class="text-center">SignUp</h1>

    <form action="/signup" method="post" id="form">
     
            <%if(msg){%>
                <p style="color: red;"><%=msg%></p>
                
            <%}%>
            <div class="input-div">
        <input type="text" name="firstname" id="Firstname" placeholder="Firstname" class="input-fields" onkeyup="validateFirstname()">
        </div>
          <div class="text-danger p-0 " id="FirstnameError">FirstName is required</div>
      
        <div class="input-div">
        <input type="text" name="lastname" id="Lastname" placeholder="Lastname" class="input-fields" onkeyup="validateLastname()">
        </div>
          <div class="text-danger p-0 " id="LastnameError">LastName is required</div>
      
        <div class="input-div">
        <input type="text"  name="email" id="email" placeholder="Email" class="input-fields" onkeyup="validateEmail()">
        </div>
          <div class="text-danger p-0 " id="emailError">email is required</div>
      
        <div class="input-div">
        <input type="text" name="phoneno" id="phoneno" placeholder="Phone number" class="input-fields" onkeyup="validatePhoneno()">
        </div>
          <div class="text-danger p-0 " id="phonenoError">phone number is required</div>
      
        <div class="input-div">
        <input type="password" name="password" id="password" placeholder="Password" class="input-fields" onkeyup="validatePassword()">
        </div>
          <div class="text-danger p-0 " id="passwordError">password is required</div>
      
        <div class="input-div">
        <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirmpassword" class="input-fields" onkeyup="validateconfirmPassword()">
        </div>
          <div class="text-danger p-0 " id="confirmpasswordError">password donot match</div>
      
        <div>
        <input type="submit" value="SignUP" class="signup">
        <div class="text-danger p-0 " id="formError">above field should be filled</div>

        </div>
        <span>already have an account ? <a href="/login" style="color: rgb(237 227 82);text-decoration: none;transition: color 0.3s ease;">Login</a></span>
    </form>
</div>
</div>

<script src="/js/signup.js"></script>