

<form action="/admin/addCategory" method="post" id="category-form"  onsubmit="return validationChecking()">
    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Category</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                   
                    <div class="card-body">
                        <div class="mb-4">
                            <label for="category_name" class="form-label">Category name</label>
                            <input type="text" name="categoryname"  placeholder="Type here" class="form-control" id="category_name">
                            <div class="error-message" style="color: red;" id="category_name-error"></div>
                        </div>
                      
                    </div>
                </div> <!-- card end// -->
            </div>
          
                <div>
                    <input type="submit" value="submit"  id = 'submit' class="btn btn-md rounded font-sm hover-up" >
                </div>

                <div id="invalid">
                    <% if (typeof error !=='undefined' && error) { %>
                        <p class="text-danger" id="message">
                            <%= error %>
                        </p>
                        <% } %>
                        
                </div>
            </div>
           
            </div>
        </div>
    </section> <!-- content-main end// -->
</form>
<script>


function validationChecking(event) {
            const category_name = document.getElementById("category_name").value.trim();
            const category_name_error = document.getElementById("category_name-error");
            category_name_error.innerHTML = "";

            if(category_name==''){
                category_name_error.innerHTML = category_name.trim() === "" ? "Please enter category name" : "";
return false;

            }


            if(!isNan(category_name)){
                category_name_error.innerHTML =  "category name cannot be a number" 
                return false;


            }
            return true;

}

</script>
